/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
public/.DS_Store
.DS_Store
bootstrap/.DS_Store
config/database.php
env.example
.env.example

